// Fonts
$fFamily: "Montserrat", sans-serif;

// Colors
// Main colors
$cBaseText: #000;
$linkColor: #153092;
$errorColor: #f51321;
$skyColor: #e1e7f3;
$bgDark: #1e293f;
$lightBlue: #2094ff;

// Selection
$selectionColorBG: blue;
$selectionColorColor: white;

// Sections
$sectionColorBlue: #153092;
$sectionColorWhite: #fff;
$sectionColorGray: #e1e7f3;

// Scrollbar
$scrollbarThumbColor: purple;
$scrollbarTrackColor: green;

// Sizing
$mobileBreakpoint: 768px;
$desktopBreakpoint: 1200px;
