html,
body {
  color: $cBaseText;
  font-family: $fFamily;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
}

html {
  font-size: 16px;
}

* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

::selection {
  background-color: $selectionColorBG;
  color: $selectionColorColor;
}

.container {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
}

.invisible {
  overflow: hidden;
  max-height: 0 !important;
  opacity: 0 !important;
}

.custom-scrollbar {
  overflow-y: auto !important;
  scrollbar-color: $scrollbarThumbColor $scrollbarTrackColor;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: $scrollbarTrackColor;
  }

  &::-webkit-scrollbar-thumb {
    background: $scrollbarThumbColor;
  }
}
